<div class='container'>
  <div class="header">
    <div class="logo">
      <a>KMV</a>
    </div>
  </div>

  <div class="main">
    <aside class="aside">
      <ul class="nav">
        <li>
          <a href="/start" class="active">
            <i class="fa fa-home"></i> Home</a>
        </li>
      </ul>
    </aside>

    <section class="content">
      <div class="box">
        <form action="">
          <div class="input-container">
            <input id="name" #message class="input" type="text" required value="" />
            <label class="label" for="name">Nome</label>
          </div>

          <div class="btn">
            <button type="button" class="btnSend" (click)="sendApi(message.value)">Enviar</button>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>
